
<div class="content">
    <h1 class="texto">
        Transaction Detail
    </h1>
</div>
<div class="content2">
    <mat-card class="sign-in-card">
        <mat-label>Type: </mat-label>
        <p class="lbl">
            {{type}}
        </p>
        
    </mat-card>
    <mat-card class="sign-in-card">
        <mat-label>Points: </mat-label>
        <p class="lbl">
            {{points}}    
        </p>
        
    </mat-card>
    
</div>


<div class="content2">
    <mat-card class="sign-in-card">
        <mat-label>Created date: </mat-label> 
        <p class="lbl">
            {{date}}   
        </p>
        
    </mat-card>
    
    <mat-card class="sign-in-card">
        <mat-label>Value: </mat-label>
        <p class="lbl">
            {{value}}
        </p>
        
    </mat-card>
</div>

<div class="flexItemFull">
    
    <button mat-button [mat-dialog-close]>
        Close
    </button> 
  </div> 



