.texto{
    color: black;
    margin-top: 15px;
    font-size: 2rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .sign-in-card {
    padding: 2rem;
    width: 40%;
    margin-left: 20px;
    margin-right: auto;
    display: flex;
    background-color: whitesmoke;
  }

  .lbl{
    padding-left: 10px;
  }


  .flexItemFull {
    width: 100%;
    align-self: flex-end;
    button {
      float: right;
    }
  }