@import '../../styles.scss';

.sign-in-card {
    min-width: 275px;
    padding: 2rem;
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    mat-form-field {
      width: 100%;
      margin: 0.5rem 0 0.5rem 0;
    }
  }

  .sign-in-button {
    margin: 1rem 0 0.5rem 0;
    text-transform: uppercase;
  }

  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: $gradient;
  }

  .loading{
    display: none;
    margin-left: auto;
    margin-right: auto;    
  }

  .spin{
    padding: 4rem;
  }

  .texto {
    margin: 1rem 1rem 0.5rem 1rem;
    u {
        color: blue;
        cursor: pointer;
    }
}